<html>
  <head>
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  
  <body>
    <div class="gridContainer">
      <div class="cabecera">
        <app-cabecera [isProfileView]="false"></app-cabecera>
      </div>
  
      <div class="cartasContainer">
        <cartas [isProfileView]="false"></cartas>
      </div>
  
      <div class="busquedaContainer">
        <button>No hago nada</button>
      </div>
  
    </div>
  
  </body>
</html>

